NAME="@@__UID__@@-Private-Net"
TYPE="RANGED"

BRIDGE="VSi@@__BR__@@"

GATEWAY="10.0.0.1"
DNS="8.8.8.8 8.8.4.4"
NETWORK_ADDRESS="10.0.0.0"
NETWORK_MASK="255.0.0.0"

IP_START="10.0.0.2"
IP_END="10.255.255.254"

VLAN="Yes"

AR=[TYPE = "IP4", IP = "10.0.0.2", SIZE = "16777213" ]
