NAME="@@__UID__@@-Ubuntu(EYWA)"
CONTEXT=[
	ONE_UID="@@__UID__@@",
	IS_EYWA="yes",
	IS_VR="no",
	FILES="@@__ONE_VAR__@@/files/eywa-vm/init.sh @@__ONE_VAR__@@/.ssh",
	PASSWD="@@__VM_ROOT_PW__@@",
	SSH_PUBLIC_KEY="@@__SSH_PUB_KEY__@@",
	ETH0_IP="$NIC[IP,NETWORK=\"@@__UID__@@-Private-Net\"]",
	ETH0_MAC="$NIC[MAC,NETWORK=\"@@__UID__@@-Private-Net\"]",
	ETH0_MASK="255.0.0.0",
	ETH0_NETWORK="$NIC[NETWORK_ADDRESS,NETWORK=\"@@__UID__@@-Private-Net\"]",
	ETH0_GATEWAY="$NIC[GATEWAY,NETWORK=\"@@__UID__@@-Private-Net\"]",
]

CPU="1"
VCPU="1"
DISK=[IMAGE="EYWA-Ubuntu-14.04_64",IMAGE_UNAME="oneadmin"]
FEATURES=[ACPI="yes"]
GRAPHICS=[LISTEN="0.0.0.0",TYPE="VNC"]
MEMORY="512"
NIC=[MODEL="virtio",NETWORK="@@__UID__@@-Private-Net",NETWORK_UNAME="oneadmin"]
OS=[ARCH="x86_64",BOOT="hd"]
